Here are your realms.

<% if (locals.realmData) { %>	<!-- has data-->

	<%= realmData.results[0].data.realms[0].name.en_US %>
	
	Results <%= realmData.results.length %> <br>
	<table>
		<tr>
			<td>Name</td>
			<td>Type</td>
			<td>Has a Queue</td>
			<td>Status</td>
			<td>Population</td>
		</tr>
	<% for(var result = 0; result < realmData.results.length; result++) { %>
		<tr>
			<td><%= result.data.realms.name.en_US %></td>
			<td><%= result.data.realms.type.name.en_US %></td>
			<td><%= result.data.has_queue %></td>
			<td><%= result.data.status.name.en_US %></td>
			<td><%= result.data.population.name.en_US %></td>
		</tr>
	<% } %>
	</table>
<% } %>