<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Retail WoW Realm List </title>
		<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
			crossorigin="anonymous">
		<link rel="stylesheet" href="/public/css/styles.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/public/js/realm.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<h1>Blizzard API</h1>
			<hr>
		</header>
		<div class="thin-border d-inblock">
			<h2> Realm List </h2>
			<!-- Table Start -->
			<% if (locals.realmData) { %>	<!-- has data-->	
				Results: <%= realmData.results.length %>
				<table class="center">
					<tr>
						<td>#</td>
						<td>Name</td>
						<td>Type</td>
						<td>Has a Queue</td>
						<td>Status</td>
						<td>Population</td>
					</tr>
					<% for (var i = 0; i < realmData.results.length; i++) { %>
						<% for (var j = 0; j < realmData.results[i].data.realms.length; j++) { %>
							<tr>
								<td> <%= i %> </td>
								<td> <%= realmData.results[i].data.realms[j].name.en_US %> </td>
								<td> <%= realmData.results[i].data.realms[j].type.name.en_US %> </td>
								<!-- This is a bool so we need to handle html elements like so... -->
								<% if (realmData.results[i].data.realms[j].has_queue) { %>
									<td> Yes </td>
								<% } else { %>
									<td> No </td>
								<% } %>
								<td> <%= realmData.results[i].data.status.name.en_US %> </td>
								<td> <%= realmData.results[i].data.population.name.en_US %> </td>
							</tr>
						<% } %>
					<% } %>
				</table>
			<% } %>
			<!-- Table end-->
		</div>
	</body>
	<footer>
		<feature>
			<hr>
			<img src="/public/img/csumb.png" height="50px" width="50px" class="d-block center" alt="csumb logo">
		</feature>
		<div class="text-c">
			<p class="small">CST336 Internet Programming. 2020&copy; Sullivan</p>
			<p><a class="small" href="http://www.google.com">Have a question?</a></p>
		</div>
	</footer>
</html>

