Here are your realms.

<% if (locals.realmData) { %>	<!-- has data-->	
	Results: <%= realmData.results.length %>
	<table>
		<tr>
			<td>Name</td>
			<td>Type</td>
			<td>Has a Queue</td>
			<td>Status</td>
			<td>Population</td>
		</tr>
	<% for (var i = 0; i < realmData.results.length; i++) { %>
		<tr>
			<td> <%= realmData.results[i].realms.name.en_US %> </td>
			<td> <%= realmData.results[i].realms.type.name.en_US %> </td>
			<td> <%= realmData.results[i].realms.has_queue %> </td>
			<td> <%= realmData.results[i].realms.status.name.en_US %> </td>
			<td> <%= realmData.results[i].population.name.en_US %> </td>
		</tr>
	<% } %>
	</table>
<% } %>