Here are your realms.

<% if (locals.realmData) { %>	<!-- has data-->	
	<%= JSON.stringify(realmData) %>
	Results <%= realmData.results[length] %> <br>
	<table>
		<tr>
			<td>Name</td>
			<td>Type</td>
			<td>Has a Queue</td>
			<td>Status</td>
			<td>Population</td>
		</tr>
	<% realmData.results.forEach(result => { %>
		<td> <%= result[name] %> </td>
		<td> <%= result[type] %> </td>
		<td> <%= result[has_queue] %> </td>
		<td> <%= result[status] %> </td>
		<td> <%= result[population] %> </td>
	<% }); %>
	</table>
<% } %>