Here are your realms.

<% if (locals.realmData) { %>	<!-- has data-->	
	Results: <%= realmData.results.length %>
	<table>
		<tr>
			<td>Name</td>
			<td>Type</td>
			<td>Has a Queue</td>
			<td>Status</td>
			<td>Population</td>
		</tr>
	<% for (var i = 0; i < realmData.results.length; i++) { %>
		<% for (var j = 0; j < realmData.results.data.realms.length; j++) { %>
		<tr>
			<td> <%= realmData.results[i].data.realms[j].name.en_US %> </td>
			<td> <%= realmData.results[i].data.realms[j].type.name.en_US %> </td>
			<td> <%= realmData.results[i].data.realms[j].has_queue %> </td>
			<td> <%= realmData.results[i].data.realms[j].status.name.en_US %> </td>
			<td> <%= realmData.results[i].data.realms[j].name.en_US %> </td>
		</tr>
		<% } %>
	<% } %>
	</table>
<% } %>